.o-body_container {
    padding: 0;
    margin: 0;
    background-color: pink;
    font-family: 'open sans', sans-serif;
}
.o-header_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.o-header_headings{
    margin-top: 10px;
}

.o-hero-image_container {
    padding:30px 0 30px 0;
    position: relative;
    text-align: center;

}
.o-about_container {
    margin: 80px 100px 80px 100px;
    text-align: center;
    font-size: 20px;
    font-style: italic;

}
.o-technologies_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding:30px 0 30px 0;
}

.o-footer_container {
    text-align: center;
    background-color: lightpink;
    padding: 20px 0 20px 0;
    margin: 40px 0 0 0;
}
.m-about-heading_h1 {
    text-align: center;
}
.m-technologies-heading_h1 {
    text-align: center;
}

.m-technologies-single-container {
    width: 24%;
    text-align: center;
    margin: 10px 10px 15px 10px;
    position: relative;
    display: block;

}
.m-footer_fa-awesome {
font-size: 40px;
}
.a-hero-image_text{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    font-size: 3.0em;
    font-weight: bolder;

}
.a-technologies-image {
    width: 80%;
}
.a-header-headings_h2 {
    padding-left: 5px;

}
.a-header-headings_h1 {
    margin: 0;
}

.a-header_main-logo {
    width: 250px;
    padding-top: 40px;
}

.a-hero-image{
    display: block;
    margin: 0 auto;
    width: 100%;
}

/*---------------------------------------------------------------------------------Media 768*/
@media only screen and (max-width: 768px) {
    .a-hero-image_text {
        font-size: 1.5em;
    }
    .o-about_container {
        margin: 40px 20px 40px 20px;
        text-align: center;
        font-size: 20px;
        font-style: italic;

    }
    .o-technologies_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .a-technologies-image {
        width: 100%;
    }
    .a-header_main-logo {
        width: 180px;
        padding-top: 50px;
    }
    .m-technologies-single-container {
        width: 64%;
        text-align: center;
        margin: 10px 10px 15px 10px;
        position: relative;
        display: block;

    }
}
/*************************************************media 550************************************************************/
@media only screen and (max-width: 550px) {
    .o-header_container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 30px 40px 0 40px;

    }

    .o-header_headings{
        text-align: center;
    }
}
/************************************************media 360**************************************************************/
@media only screen and (max-width: 360px) {
    .o-header_container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 30px 40px 0 40px;
    }

    .o-header_headings{
        text-align: center;
    }

    .a-hero-image_text {
        font-size: 1em;
    }

    .o-about_container {
        margin: 40px 20px 40px 20px;
        text-align: center;
        font-size: 20px;
        font-style: italic;

    }
    .o-technologies_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .a-technologies-image {
        width: 100%;
    }
    .a-header_main-logo {
        width: 180px;
        padding-top: 50px;
    }
    .m-technologies-single-container {
        width: 64%;
        text-align: center;
        margin: 10px 10px 15px 10px;
        position: relative;
        display: block;
    }
}